.idea/
.idea
.idea/workspace.xml
.out/
out
_mac
out/
*.iml
src/Utilities/PersonalSettings.java
debugger.renderers.xml
debugger.xml
diff.xml
file.template.settings.xml
filetypes.xml
github_settings.xml
gradle.run.settings.xml
ide.general.xml
jdk.table.xml
mavenVersion.xml
other.xml
project.default.xml
u.lnf.xml
vsc.xml
web-browsers.xml
inspection/
.inspection/
/inspection
colors.scheme.xml
editor.xml
Intellij.xml
*.xml
.DS_Store
Iteration3.iml
git-update
*.xcf
*.class
